<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>panel_w</key>
	<integer>524</integer>
	<key>panel_h</key>
	<integer>754</integer>
	<key>panel_offset_y</key>
	<integer>33</integer>
	<key>content_w</key>
	<integer>40</integer>
	<key>content_h</key>
	<integer>41</integer>
	<key>content_offset_x</key>
	<integer>20</integer>
	<key>content_offset_y</key>
	<integer>22</integer>
	<key>frame_top_offset_x</key>
	<integer>-12</integer>
	<key>frame_top_offset_y</key>
	<integer>4</integer>
	<key>frame_bottom_offset_x</key>
	<integer>-12</integer>
	<key>frame_bottom_offset_y</key>
	<integer>-4</integer>
	<key>frame_left_offset_x</key>
	<integer>4</integer>
	<key>frame_left_offset_y</key>
	<integer>4</integer>
	<key>frame_right_offset_x</key>
	<integer>-4</integer>
	<key>frame_right_offset_y</key>
	<integer>4</integer>
	<key>close_x</key>
	<integer>520</integer>
	<key>close_y</key>
	<integer>-66</integer>
	<key>logo_x</key>
	<integer>256</integer>
	<key>logo_y</key>
	<integer>-70</integer>
	<key>banner_list_offset_x</key>
	<string>0</string>
	<key>banner_list_offset_y</key>
	<string>0</string>
	<key>banner_list_width</key>
	<string>484</string>
	<key>banner_list_height</key>
	<string>251</string>
	<key>banner_topic1_space</key>
	<string>100</string>
	<key>top1list_offset_x</key>
	<string>0</string>
	<key>top1list_offset_y</key>
	<string>334</string>
	<key>top1list_width</key>
	<string>484</string>
	<key>top1list_height</key>
	<string>130</string>
	<key>nodata_label1_offset_x</key>
	<string>0</string>
	<key>nodata_label1_offset_y</key>
	<string>345</string>
	<key>topic1_topic2_space</key>
	<string>200</string>
	<key>top2list_offset_x</key>
	<string>0</string>
	<key>top2list_offset_y</key>
	<string>565</string>
	<key>top2list_width</key>
	<string>484</string>
	<key>top2list_height</key>
	<string>130</string>
	<key>nodata_label2_offset_x</key>
	<string>0</string>
	<key>nodata_label2_offset_y</key>
	<string>577</string>
	<key>products_recommended_offset_x</key>
	<string>0</string>
	<key>products_recommended_offset_y</key>
	<string>268</string>
	<key>products_recommended_width</key>
	<string>282</string>
	<key>products_recommended_height</key>
	<string>66</string>
	<key>top_ranking_offset_x</key>
	<string>0</string>
	<key>top_ranking_offset_y</key>
	<string>499</string>
	<key>top_ranking_width</key>
	<string>282</string>
	<key>top_ranking_height</key>
	<string>66</string>
	<key>halving_line_offset_x</key>
	<string>0</string>
	<key>halving_line_offset_y</key>
	<string>504</string>
	<key>halving_line_width</key>
	<string>506</string>
	<key>halving_line_height</key>
	<string>1</string>
	<key>left_turn_offset_x</key>
	<string>0</string>
	<key>left_turn_offset_y</key>
	<string>0</string>
	<key>right_turn_offset_x</key>
	<string>0</string>
	<key>right_turn_offset_y</key>
	<string>0</string>
</dict>
</plist>
