<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>panel_w</key>
	<integer>262</integer>
	<key>panel_h</key>
	<integer>377</integer>
	<key>panel_offset_y</key>
	<integer>17</integer>
	<key>content_w</key>
	<integer>20</integer>
	<key>content_h</key>
	<integer>18</integer>
	<key>content_offset_x</key>
	<integer>10</integer>
	<key>content_offset_y</key>
	<string>9</string>
	<key>frame_top_offset_x</key>
	<integer>-6</integer>
	<key>frame_top_offset_y</key>
	<integer>2</integer>
	<key>frame_bottom_offset_x</key>
	<integer>-6</integer>
	<key>frame_bottom_offset_y</key>
	<integer>-2</integer>
	<key>frame_left_offset_x</key>
	<integer>2</integer>
	<key>frame_left_offset_y</key>
	<integer>2</integer>
	<key>frame_right_offset_x</key>
	<integer>-2</integer>
	<key>frame_right_offset_y</key>
	<integer>2</integer>
	<key>close_x</key>
	<integer>265</integer>
	<key>close_y</key>
	<integer>-33</integer>
	<key>logo_x</key>
	<integer>128</integer>
	<key>logo_y</key>
	<integer>-35</integer>
	<key>banner_list_offset_x</key>
	<string>0</string>
	<key>banner_list_offset_y</key>
	<string>0</string>
	<key>banner_list_width</key>
	<string>242</string>
	<key>banner_list_height</key>
	<string>138</string>
	<key>banner_topic1_space</key>
	<string>50</string>
	<key>top1list_offset_x</key>
	<string>0</string>
	<key>top1list_offset_y</key>
	<string>171</string>
	<key>top1list_width</key>
	<string>242</string>
	<key>top1list_height</key>
	<string>68</string>
	<key>nodata_label1_offset_x</key>
	<string>0</string>
	<key>nodata_label1_offset_y</key>
	<string>178</string>
	<key>topic1_topic2_space</key>
	<string>90</string>
	<key>top2list_offset_x</key>
	<string>0</string>
	<key>top2list_offset_y</key>
	<string>281</string>
	<key>top2list_width</key>
	<string>242</string>
	<key>top2list_height</key>
	<string>68</string>
	<key>nodata_label2_offset_x</key>
	<string>0</string>
	<key>nodata_label2_offset_y</key>
	<string>288</string>
	<key>products_recommended_offset_x</key>
	<string>0</string>
	<key>products_recommended_offset_y</key>
	<string>148</string>
	<key>products_recommended_width</key>
	<string>94</string>
	<key>products_recommended_height</key>
	<string>22</string>
	<key>top_ranking_offset_x</key>
	<string>0</string>
	<key>top_ranking_offset_y</key>
	<string>258</string>
	<key>top_ranking_width</key>
	<string>94</string>
	<key>top_ranking_height</key>
	<string>22</string>
	<key>halving_line_offset_x</key>
	<string>0</string>
	<key>halving_line_offset_y</key>
	<string>254</string>
	<key>halving_line_width</key>
	<string>252</string>
	<key>halving_line_height</key>
	<string>1</string>
	<key>left_turn_offset_x</key>
	<string>0</string>
	<key>left_turn_offset_y</key>
	<string>0</string>
	<key>right_turn_offset_x</key>
	<string>0</string>
	<key>right_turn_offset_y</key>
	<string>0</string>
</dict>
</plist>
