<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>panel_bg_color</key>
	<string>#FFF0F0F0</string>
	<key>yodo1_gmg_textcolor</key>
	<string>#FF444444</string>
	<key>yodo1_gmg_title_textcolor</key>
	<string>#FF444444</string>
	<key>yodo1_gmg_textcolor_shadow</key>
	<string>#FFFFFFFF</string>
	<key>yodo1_gmg_title_textcolor_shadow</key>
	<string>#FFFFFFFF</string>
	<key>yodo1_gmg_items_bg_color</key>
	<string>#FFF0F0F0</string>
	<key>yodo1_gmg_banners_view_padding</key>
	<integer>0</integer>
	<key>yodo1_gmg_banners_bgview_padding</key>
	<integer>5</integer>
	<key>yodo1_gmg_loading_indicator_color</key>
	<string>#FF444444</string>
	<key>yodo1_gmg_footer_bg_color</key>
	<string>#FFFFFFFF</string>
</dict>
</plist>
