<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>panel_w</key>
	<integer>824</integer>
	<key>panel_h</key>
	<integer>456</integer>
	<key>panel_offset_y</key>
	<integer>32</integer>
	<key>content_w</key>
	<integer>18</integer>
	<key>content_h</key>
	<integer>25</integer>
	<key>content_offset_x</key>
	<integer>9</integer>
	<key>content_offset_y</key>
	<integer>12</integer>
	<key>frame_top_offset_x</key>
	<integer>-12</integer>
	<key>frame_top_offset_y</key>
	<integer>12</integer>
	<key>frame_bottom_offset_x</key>
	<integer>-12</integer>
	<key>frame_bottom_offset_y</key>
	<integer>-8</integer>
	<key>frame_left_offset_x</key>
	<integer>4</integer>
	<key>frame_left_offset_y</key>
	<integer>12</integer>
	<key>frame_right_offset_x</key>
	<integer>-4</integer>
	<key>frame_right_offset_y</key>
	<integer>12</integer>
	<key>close_x</key>
	<integer>830</integer>
	<key>close_y</key>
	<integer>-66</integer>
	<key>logo_x</key>
	<integer>400</integer>
	<key>logo_y</key>
	<integer>-64</integer>
	<key>banner_list_offset_x</key>
	<string>0</string>
	<key>banner_list_offset_y</key>
	<string>0</string>
	<key>banner_list_width</key>
	<string>806</string>
	<key>banner_list_height</key>
	<string>190</string>
	<key>banner_topic1_space</key>
	<string>105</string>
	<key>top1list_offset_x</key>
	<string>0</string>
	<key>top1list_offset_y</key>
	<string>277</string>
	<key>top1list_width</key>
	<string>394</string>
	<key>top1list_height</key>
	<string>130</string>
	<key>nodata_label1_offset_x</key>
	<string>0</string>
	<key>nodata_label1_offset_y</key>
	<string>290</string>
	<key>topic1_topic2_space</key>
	<string>105</string>
	<key>top2list_offset_x</key>
	<string>8</string>
	<key>top2list_offset_y</key>
	<string>277</string>
	<key>top2list_width</key>
	<string>394</string>
	<key>top2list_height</key>
	<string>130</string>
	<key>nodata_label2_offset_x</key>
	<string>410</string>
	<key>nodata_label2_offset_y</key>
	<string>290</string>
	<key>products_recommended_offset_x</key>
	<string>0</string>
	<key>products_recommended_offset_y</key>
	<string>210</string>
	<key>products_recommended_width</key>
	<string>282</string>
	<key>products_recommended_height</key>
	<string>66</string>
	<key>top_ranking_offset_x</key>
	<string>410</string>
	<key>top_ranking_offset_y</key>
	<string>210</string>
	<key>top_ranking_width</key>
	<string>282</string>
	<key>top_ranking_height</key>
	<string>66</string>
	<key>halving_line_offset_x</key>
	<string>402</string>
	<key>halving_line_offset_y</key>
	<string>212</string>
	<key>halving_line_width</key>
	<string>2</string>
	<key>halving_line_height</key>
	<string>217</string>
	<key>left_turn_offset_x</key>
	<string>0</string>
	<key>left_turn_offset_y</key>
	<string>335</string>
	<key>right_turn_middle_offset_x</key>
	<string>385</string>
	<key>right_turn_middle_offset_y</key>
	<string>335</string>
	<key>right_turn_offset_x</key>
	<string>780</string>
	<key>right_turn_offset_y</key>
	<string>335</string>
	<key>turn_width</key>
	<string>20</string>
	<key>turn_height</key>
	<string>20</string>
</dict>
</plist>
