<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>panel_w</key>
	<integer>412</integer>
	<key>panel_h</key>
	<integer>228</integer>
	<key>panel_offset_y</key>
	<integer>23</integer>
	<key>content_w</key>
	<integer>12</integer>
	<key>content_h</key>
	<integer>13</integer>
	<key>content_offset_x</key>
	<integer>6</integer>
	<key>content_offset_y</key>
	<string>7</string>
	<key>frame_top_offset_x</key>
	<integer>-6</integer>
	<key>frame_top_offset_y</key>
	<integer>6</integer>
	<key>frame_bottom_offset_x</key>
	<integer>-6</integer>
	<key>frame_bottom_offset_y</key>
	<integer>-4</integer>
	<key>frame_left_offset_x</key>
	<integer>2</integer>
	<key>frame_left_offset_y</key>
	<integer>6</integer>
	<key>frame_right_offset_x</key>
	<integer>-2</integer>
	<key>frame_right_offset_y</key>
	<integer>6</integer>
	<key>close_x</key>
	<integer>415</integer>
	<key>close_y</key>
	<integer>-33</integer>
	<key>logo_x</key>
	<integer>200</integer>
	<key>logo_y</key>
	<integer>-32</integer>
	<key>banner_list_offset_x</key>
	<string>0</string>
	<key>banner_list_offset_y</key>
	<string>0</string>
	<key>banner_list_width</key>
	<string>400</string>
	<key>banner_list_height</key>
	<string>107</string>
	<key>banner_topic1_space</key>
	<string>50</string>
	<key>top1list_offset_x</key>
	<string>0</string>
	<key>top1list_offset_y</key>
	<string>140</string>
	<key>top1list_width</key>
	<string>195</string>
	<key>top1list_height</key>
	<string>66</string>
	<key>nodata_label1_offset_x</key>
	<string>0</string>
	<key>nodata_label1_offset_y</key>
	<string>145</string>
	<key>topic1_topic2_space</key>
	<string>40</string>
	<key>top2list_offset_x</key>
	<string>6</string>
	<key>top2list_offset_y</key>
	<string>140</string>
	<key>top2list_width</key>
	<string>194</string>
	<key>top2list_height</key>
	<string>66</string>
	<key>nodata_label2_offset_x</key>
	<string>206</string>
	<key>nodata_label2_offset_y</key>
	<string>145</string>
	<key>products_recommended_offset_x</key>
	<string>0</string>
	<key>products_recommended_offset_y</key>
	<string>118</string>
	<key>products_recommended_width</key>
	<string>94</string>
	<key>products_recommended_height</key>
	<string>22</string>
	<key>top_ranking_offset_x</key>
	<string>206</string>
	<key>top_ranking_offset_y</key>
	<string>118</string>
	<key>top_ranking_width</key>
	<string>94</string>
	<key>top_ranking_height</key>
	<string>22</string>
	<key>halving_line_offset_x</key>
	<string>200</string>
	<key>halving_line_offset_y</key>
	<string>118</string>
	<key>halving_line_width</key>
	<string>1</string>
	<key>halving_line_height</key>
	<string>96</string>
	<key>left_turn_offset_x</key>
	<string>0</string>
	<key>left_turn_offset_y</key>
	<string>175</string>
	<key>right_turn_middle_offset_x</key>
	<string>195</string>
	<key>right_turn_middle_offset_y</key>
	<string>175</string>
	<key>right_turn_offset_x</key>
	<string>395</string>
	<key>right_turn_offset_y</key>
	<string>175</string>
	<key>turn_width</key>
	<string>10</string>
	<key>turn_height</key>
	<string>10</string>
</dict>
</plist>
