<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>switchStatus</key>
	<true/>
	<key>csEmail</key>
	<string>cs21212@yodo1.com</string>
	<key>groupPlayingTimeList</key>
	<array>
		<dict>
			<key>ageRange</key>
			<string>0-7</string>
			<key>regularTime</key>
			<integer>5400</integer>
			<key>holidayTime</key>
			<integer>10800</integer>
		</dict>
		<dict>
			<key>ageRange</key>
			<string>8-15</string>
			<key>regularTime</key>
			<integer>5400</integer>
			<key>holidayTime</key>
			<integer>10800</integer>
		</dict>
		<dict>
			<key>ageRange</key>
			<string>16-17</string>
			<key>regularTime</key>
			<integer>5400</integer>
			<key>holidayTime</key>
			<integer>10800</integer>
		</dict>
	</array>
	<key>groupAntiPlayingTimeRangeList</key>
	<array>
		<dict>
			<key>ageRange</key>
			<string>0-7</string>
			<key>antiPlayingTimeRange</key>
			<array>
				<string>08:00-22:00</string>
			</array>
		</dict>
		<dict>
			<key>ageRange</key>
			<string>8-15</string>
			<key>antiPlayingTimeRange</key>
			<array>
				<string>08:00-22:00</string>
			</array>
		</dict>
		<dict>
			<key>ageRange</key>
			<string>16-17</string>
			<key>antiPlayingTimeRange</key>
			<array>
				<string>08:00-22:00</string>
			</array>
		</dict>
	</array>
	<key>groupMoneyLimitationList</key>
	<array>
		<dict>
			<key>ageRange</key>
			<string>0-7</string>
			<key>monthLimit</key>
			<integer>0</integer>
			<key>dayLimit</key>
			<string>0</string>
		</dict>
		<dict>
			<key>ageRange</key>
			<string>8-15</string>
			<key>monthLimit</key>
			<integer>200</integer>
			<key>dayLimit</key>
			<string>50</string>
		</dict>
		<dict>
			<key>ageRange</key>
			<string>16-17</string>
			<key>monthLimit</key>
			<integer>100</integer>
			<key>dayLimit</key>
			<string>400</string>
		</dict>
	</array>
	<key>guestModeConfig</key>
	<dict>
		<key>playingTime</key>
		<integer>3600</integer>
		<key>effectiveDay</key>
		<integer>3</integer>
		<key>guestMode</key>
		<true/>
	</dict>
	<key>playingTimeMsg</key>
	<dict>
		<key>message</key>
		<string>时长耗尽提醒强制下线提醒：</string>
		<key>beforeMsg</key>
		<string>时长耗尽提醒提前10分钟提醒：</string>
	</dict>
	<key>antiPlayingTimeMsg</key>
	<dict>
		<key>message</key>
		<string>宵禁提醒强制下线提醒：</string>
		<key>beforeMsg</key>
		<string>宵禁提醒提前10分钟提醒：</string>
	</dict>
	<key>moneyLimitationMsg</key>
	<string>string</string>
	<key>guestModeMsg</key>
	<dict>
		<key>message</key>
		<string>试玩提醒强制下线提醒：</string>
		<key>beforeMsg</key>
		<string>试玩提醒提前10分钟提醒：</string>
	</dict>
</dict>
</plist>
